.homeservices{
    display: flex;
   align-items: center;
   justify-content: center;
    height: 30vh;
    flex-direction: column;
}
.homeservices > h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px ;
    padding-left: 50px;
    color: brown;
    
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    font-size: 26px;
}
.homeservices > p  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px ;
    padding-left: 50px;
    padding-right: 50px;
    color: black;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    font-size: 14px;
}