.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.login__logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}
.login__container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding:20px;
}
.login__container >h1{
   font-weight: 500;
   font-size: 26px;
   margin-bottom: 20px;
   padding-bottom: 10;
}

.login__container >form >h5{
margin-bottom: 5px;

 }
 .login__container >form >input{
    margin-bottom: 10px;
    height: 30px;
    background-color: white;
    width: 98%;
     }
     .login__container >p{
       font-size: 12px;
        margin-top: 20px;
     }
.login__registerButton{
background:  #f44336;
border-radius: 5px;
width: 100%;
height: 30px;
border: none;
outline: none;
margin-top: 10px;
border-top: inherit;
font-size: 18px;
font-weight: 700;
}